<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net
             http://www.springframework.net/xsd/spring-objects.xsd">


  <!--View Definitions-->

  <object id="MainView"
          type="De.BerndNet2000.SummitLog.WPF.Ui.Main.MainView, SummitLog.WPF">
  </object>

  <object id="AboutView"
          type="De.BerndNet2000.SummitLog.WPF.Ui.About.AboutView, SummitLog.WPF">
  </object>
  
</objects>
