<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
<packageRestore>
    <add key="enabled"
         value="True" />
  </packageRestore>
  <packageSources>
    <add key="queo"
         value="\\helios\NuGetRepository" />
    <add key="Offizielle NuGet-Paketquelle"
         value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>